@use "./zeroing.scss";

$bg-body: #282828;
$bg: #2c333f;

body {
  background-color: $bg-body;
  font-family: 'Lato', sans-serif;

  &.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 15px;
  height: auto;
  margin: 0 auto;
  background-color: $bg;
}

.header {
  background-color: $bg;
  margin-top: 50px;
}

.header__top {
  max-width: 100%;
  height: 95px;
  background-color: #fff;
  margin-bottom: 230px;
  position: relative;
  top: 0px;
  z-index: 9;

  &::after {
    content: '';
    display: block;
    width: 100px;
    height: 95px;
    background-color: #597aef;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
  }
}

.header__top-txt {
  margin-left: 30vw;
  padding-top: calc(96px - 50px - 11px);
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
  color: deeppink;
  transform: scale(0);
  transition: .2s linear;


  &.active {
    transform: scale(1);
  }
}

.header__top-text {
  margin-left: 25vw;
  margin-top: -45px;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  color: rgb(78, 8, 241);
  transform: scale(0);
  transition: .2s linear;

  &.active {
    transform: scale(1);
  }
}

.header__search {
  position: absolute;
  right: 97px;
  top: calc(97px / 2 - 31px);
  cursor: pointer;
}

//? ----------------------------------

.burger-btn {
  display: block;
  width: 40px;
  height: 25px;
  position: relative;
  top: -35px;
  left: 30px;
  z-index: 5;
  cursor: pointer;

  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scale(1);
    position: absolute;
    top: 50%;

  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #fff;
    transition: all .3s linear;
  }

  &::before {
    width: 100%;
    bottom: 0;
  }

  &::after {
    width: 100%;
    top: 2px;
  }

  &.active span {
    transform: scale(0);
  }
}

.burger-btn.active::before {
  top: 50%;
  transform: rotate(45deg);
}

.burger-btn.active::after {
  top: 50%;
  transform: rotate(-45deg);

}

.burger-page {
  position: relative;
  top: -260px;
  height: 430px;
  width: 100%;
  background-color: red;
  z-index: 3;
  transition: all 0.3s;
  overflow: auto;
  transform: scale(0);
  transition: all .3s linear;
  overflow: auto;
}

.active {
  transform: scale(1);
}

.page {
  font-size: 30px;
  color: aqua;
  padding: 100px 0px;
  margin-left: 50%;
  transform: translate(-50%);
  z-index: 1;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 150px;
    left: -2px;
    width: 90%;
    height: 4px;
    background-color: #ffd900;
  }
}

.page-img {
  width: 450px;
  height: 450px;
  border-radius: 30%;
  margin-left: 50%;
  margin-top: 80px;
  transform: translate(-50%);
}

//? /----------------------------------

.main {
  margin-top: -576px;
}

.main__block-1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
}

.main__01 {
  filter: brightness(90%);
}

.main__01-inst {
  position: absolute;
  left: 151px;
  top: 251px;
  z-index: 1;
}

.main__02 {
  filter: brightness(90%);
}

.main__02-inst {
  position: absolute;
  left: 451px;
  top: 251px;
  z-index: 1;
}

.main__03 {
  filter: brightness(70%);
}

.main__03-butt {
  position: absolute;
  left: 1174px;
  top: 836px;
  z-index: 1;
}

.main__block-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
}

.main__04 {
  margin-top: -380px;
  filter: brightness(80%);
}

.main__04-butt {
  position: absolute;
  top: 1166px;
  left: 576px;
  z-index: 1;
}

.main__05 {
  margin-top: 31px;
  filter: brightness(70%);
}

.main__05-butt {
  position: absolute;
  top: 1160px;
  left: 1173px;
  z-index: 1;
}

.main__06 {}

.main__06-butt {
  position: absolute;
  top: 2015px;
  left: 1173px;
  z-index: 1;
}

.main__07-butt {
  position: absolute;
  top: 2541px;
  left: 1173px;
  z-index: 1;
}

.main__block-3 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
  position: relative;
}

.burger-btn {}

.main__08-butt {
  position: absolute;
  left: 576px;
  top: 3043px;
  z-index: 1;
}

.main__09 {
  filter: brightness(90%);
}

.main__09-butt {
  position: absolute;
  left: 1182px;
  top: 3220px;
  z-index: 1;
}

.main__10 {
  margin-top: -172px;
}

.main__10-inst {
  position: absolute;
  left: 165px;
  top: 3209px;
  z-index: 1;
}

.main__11 {
  filter: brightness(90%);
}

.main__11-inst {
  position: absolute;
  left: 772px;
  top: 3379px;
}

.main__block-4 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
}

.main__12 {
  filter: brightness(80%);
}

.main__12-butt {
  position: absolute;
  left: 592px;
  top: 4357px;
  z-index: 1;
}

.main__13 {
  filter: brightness(80%);
  margin-top: -182px;
}

.main__13-butt {
  position: absolute;
  left: 1180px;
  top: 4357px;
  z-index: 1;
}

.main__14 {
  margin-bottom: 148px;
  filter: brightness(70%);
}

.main__14-butt {
  position: absolute;
  left: 1180px;
  top: 4917px;
  z-index: 1;
}

.load {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  margin-top: -120px;
}

.circle-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid $bg;
  border-top: 3px solid #f304bf;
  animation: tor 3s linear infinite;
}

.circle-2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid $bg;
  border-top: 3px solid #fa0404;
  animation: tor 3s linear infinite;
}

@keyframes tor {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}